/* Mobile Device  */
@media screen and (max-width: 600px){
    .footer{
        padding: 20px;
    }
    .fa-brands{
        margin-top: 10px;
    }
    .popular-tours{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    .tours-img img{
        width: 100%;
        object-fit: cover;
    }
}