/* Mobile Device  */
@media screen and (max-width: 600px){
    .footer{
        padding: 20px;
    }
    .fa-brands{
        margin-top: 10px;
    }
    .popular-tours, .newsletter{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    .newsletter-content input{
        width: 90%;
    }
    .tours-img img{
        width: 100%;
        object-fit: cover;
    }
    .sale-seventy-percent{
        padding: 10px;
        top: 40%;
        left: 40%;
        font-size: 10px;
    }
}